.background-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: url('../../../../../assets/Template_files/city-1.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
}

.background-image:hover {
    color: #000000B2;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    /* Adjust the scale factor as needed */
}

.project-shadow {
    box-shadow: rgb(255 255 255 / 12%) 0px 1px 3px, rgb(255 255 255 / 24%) 0px 1px 2px;
}

.button-project {
    width: 80px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid var(--background-orange);
    color: white;
}

.button-project:hover {
    background: #ff714a;
    box-shadow: 0px 3px 19px 0px #f64817;
    transition: 0.3s ease-in-out;
}

:root {
    --background-dark-100: #000000;
    --background-dark-90: #222222;
    --background-dark-95: #282828;
    --background-dark-80: #333333;
    --background-dark-70: #444444;
    --background-orange: #ff714a;
    --background-dark-60: #666666;
    --color-white-100: #ffffff;
    --color-white-95: #f5f5f5;
    --color-white-80: #d5d5d5;
    --color-white-60: #aaaaaa;
    --color-white-70: #bbbbbb;
    --font-size-48: 48px;
    --font-size-24: 24px;
    --font-size-21: 21px;
    --font-size-18: 18px;
    --font-size-14: 14px;
    --font-size-12: 12px;
    --font-size-11: 11px;
    --font-size-30: 30px;
    --font-size-16: 16px;
    --font-size-13: 13px;
    --transition-default: 0.25s ease;
}

.cart:hover {
    box-shadow: rgba(240, 57, 16, 0.4) 0px 30px 90px;
}